//- Frank Luo
//- layout pug for inputting CSS and Image Icon for Food Preferences Webpage
//- 
   Sources Used:  
   https://pugjs.org/api/getting-started.html 
   https://www.sitepoint.com/a-beginners-guide-to-pug/
   https://html-to-pug.com

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Homework assignment dealing with MongaDB')
    meta(name='keywords' content='HTML, Pug, JavaScript')
    meta(name='author' content='Frank Luo')
    title Food2 Preferences
    link(rel='shortcut icon' href='images/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' type='text/css' href='./stylesheets/style.css')
    block scripts
  body
    block content
