//- Frank Luo
//- Results Message
//- 
   Sources Used:  
   https://pugjs.org/api/getting-started.html 
   https://www.sitepoint.com/a-beginners-guide-to-pug/
   https://html-to-pug.com

extends layout

block content
  h1=favoriteFruit
  p1= "Thank you for sharing your response! :)"